* {
	/*reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Sunflower', sans-serif;
}

.menu {
	height: 60px;
	background-color: #00AAFF;
}

.sidebar {
	height: 300px;
	/*background-color: #f09a9d;*/
	width: 200px;
	float: left;
}

.content	{
	height: 395px;
	width: 650px;
	/*background-color: #f5cf8e;*/
	float: left;



}

.footer	{
	/*height: 200px;*/
	padding: 12px 0;
	background-color: #00AAFF;
	/*float: left;*/

	/*border: 5px solid red;*/

}

.page {
	width: 900px;
	margin: 0 auto;
	/*border: 1px solid red;*/ /*put border around recognized heights*/
	/*background-color: #EAEDF0;*/

}

.clear:after {
	content: "";
	clear: both;
	display: block;
}

.container {
	/*background-color: #EAEDF0;*/
	padding: 30px 0 20px 0;
}

.column {
	background-color:  #fff;
	height: 160px;
	width: 31%;
	margin: 8.5px 1.16%;
	float: left;
	border-radius: 10px;
}

.article-image {
	/*float: left;*/
	width: 50%;

}
.avatar {
	float: left;
	width:  64px;
	height: 64px;
	margin: 20px;
	border-radius: 40px;
	background-color: #D6E9FE;

	border: 4px solid #999;

}

.username {
	margin-top: 20px;
}

.comment {
	margin: 10px; 
	overflow: hidden;
}



/*===============================================*/


#logo {
	font-family: 'Archivo Black', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	color: #FFF;
}

.logo-container {
	margin-top: 1em;
	margin-left: 1.2em;
	float: left;
}

.sidebar h2 {

	font-family: 'Sunflower', sans-serif;
	color: #333;


}


h2:after {
	content: "";
	display: block;
	width: inherit;
	height: 3px;
	background-color: #333;

}

.center {
	text-align: center;
}


.container {
	padding-top: 50px;
}

.avatar {
	/*background-image: url(..images/avatar.png);*/
}